*{
    margin: 0;
    padding: 0;
font-family: Arial, Helvetica, sans-serif;
}
#logo{
    margin-left: 30px;
    margin-top: -2px;
}
#car{
    margin-left: 35px;
    margin-top: 10px;
    background-color:rgba(128, 128, 128, 0.13);
    padding: 7px;
    border-radius: 50%;
    font-size: 12px;
}
#moto{
    margin-left: 10px;
    font-size: 11px;
    font-weight: 500;
}
#car:hover{
    color: rgb(0, 81, 255);
    cursor: pointer;
}
#moto:hover{
    color: rgb(0, 81, 255);
    cursor: pointer;
    
}
#pro{
    
    margin-left: 10px;
    font-size: 11px;
    font-weight: 500;
}
#buil{
    margin-left: 35px;
    margin-top: 10px;
    background-color:rgba(128, 128, 128, 0.13);
    padding: 7px;
    border-radius: 50%;
    font-size: 12px;
}
#pro:hover{
    color: rgb(0, 81, 255);
    cursor: pointer;
}
#buil:hover{
    color: rgb(0, 81, 255);
    cursor: pointer;
}
#bl{
    margin-left: 25px;
    margin-top: -8px;
}
#country{
    margin-top: 5px;
    margin-left: 20px;
    height: 45px;
    border: 1px solid black;
    border-radius: 5px;
    width: 280px;
}
/* #search{
margin-left: -240px;
font-size: 13px;
} */
#searching{
    height: 45px;
    border: 1px solid black;
  font-size: 16px;
    margin-left: 10px;
    width: 380px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
#se{
  width: 45px;
    padding: 9px;
    background:#002f34;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

#login{
    margin-left: 30px;
    color: #002f34;
    font-weight: 800;
    font-size: 15px;
    text-decoration: none;
    border-bottom: 1px solid #002f34;
}
#login:hover{
   border: none;
}
#plus{
    margin-left: 20px;
}
#sell{
    margin-left: 5px;
    font-size: 15px;
   color: #002f34;
   font-weight: 800;
}
#ful{
    border: 5px solid;
    border-color: aqua blue yellow;
    margin-left: 30px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
    border-radius: 30px;
}
#nav{
    position: fixed;
    background-color:white;
    width: 100%;
}
#categories{
    border: none;
    font-weight: bold;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.856);
}
#cat{
    display: flex;
    flex-direction: row;
    text-decoration: none;
}
*{
    margin: 0;
    padding: 0;
font-family: Arial, Helvetica, sans-serif;
}
#logo{
    margin-left: 30px;
    margin-top: -2px;
}
#car{
    margin-left: 35px;
    margin-top: 10px;
    background-color:rgba(128, 128, 128, 0.13);
    padding: 7px;
    border-radius: 50%;
    font-size: 12px;
}
#moto{
    margin-left: 10px;
    font-size: 11px;
    font-weight: 500;
}
#car:hover{
    color: rgb(0, 81, 255);
    cursor: pointer;
}
#moto:hover{
    color: rgb(0, 81, 255);
    cursor: pointer;
    
}
#pro{
    
    margin-left: 10px;
    font-size: 11px;
    font-weight: 500;
}
#buil{
    margin-left: 35px;
    margin-top: 10px;
    background-color:rgba(128, 128, 128, 0.13);
    padding: 7px;
    border-radius: 50%;
    font-size: 12px;
}
#pro:hover{
    color: rgb(0, 81, 255);
    cursor: pointer;
}
#buil:hover{
    color: rgb(0, 81, 255);
    cursor: pointer;
}
#bl{
    margin-left: 25px;
    margin-top: -8px;
}
#country{
    margin-top: 5px;
    margin-left: 20px;
    height: 45px;
    border: 1px solid black;
    border-radius: 5px;
    width: 280px;
}
/* #search{
margin-left: -240px;
font-size: 13px;
} */
#searching{
    height: 45px;
    border: 1px solid black;
  font-size: 16px;
    margin-left: 10px;
    width: 380px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
#se{
  width: 45px;
    padding: 9px;
    background:#002f34;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

#login{
    margin-left: 30px;
    color: #002f34;
    font-weight: 800;
    font-size: 15px;
    text-decoration: none;
    border-bottom: 1px solid #002f34;
}
#login:hover{
   border: none;
}
#plus{
    margin-left: 20px;
}
#sell{
    margin-left: 5px;
    font-size: 15px;
   color: #002f34;
   font-weight: 800;
}
#ful{
    border: 5px solid;
    border-color: aqua blue yellow;
    margin-left: 30px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
    border-radius: 30px;
}
#nav{
    position: absolute;
    background-color:white;
    width: 100%;
}
#categories{
    border: none;
    font-weight: bold;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.856);
}
#cat{
    display: flex;
    flex-direction: row;
    
}
#cat,li{
    list-style-type: none;
    margin-left: 20px;
    font-size: 14px;
    color:rgba(0, 0, 0, 0.671);
    cursor: pointer;
}
#cat,li:hover{
    color: rgb(0, 81, 255);
}
#load{
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #002f34;
    font-weight: bold;
    color: #002f34;
}
#load:hover{
    border: 3px solid #002f34;
}
#fop{
    border-top: 1px solid #002f34;
}